@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+BE+VLG:wght@100..400&display=swap');

.leftPaneBOx{
    
    flex: 2;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    font-family: sans-serif;
    position: sticky;
    top: 50px;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: rgb(226, 230, 233);
}
::-webkit-scrollbar-thumb{
   background-color: rgb(115, 116, 118);
}

.leftPaneContainer{
    padding: 20px;
}

.leftPaneManu{
    padding: 0;
    margin: 0;
    list-style: none;
}

.leftPaneMenuItem{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.leftpaneMenuIcon{
    margin-right: 20px;
}

.pagePic{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.pagesYouLiked{
    font-family: "Fira Sans" ;
    font-weight: bold;
    margin : 20px 0px 10px 0px;
    color: rgb(46, 47, 48);
}


.hrTag{
    width: auto;
    height:1px;
    background-color: rgb(92, 91, 91);
}

.pageList{
    padding: 0;
    margin: 0;

}

.pageListItem{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 10px;
}   

.pageName{
    margin-left: 10px;
}